/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

// fonts
$font-family-sans-serif: Open Sans, sans-serif !default;
$presentation-font-size-root:	25px !default;
$presentation-font-smaller:	0.8em !default;
$presentation-line-height: 1.2em !default;
$code-block-font-size:	.8em;

// colors
$body-bg: #fff !default;
$body-color: #505050 !default;
$title-color: #000 !default;
$link-color: #00008b !default;
$selection-bg: rgba(0, 0, 0, 0.99);
$code-block-bg: #dfebe9;
//$code-block-bg: #6a96ba;
$presentation-block-margin:	25px;
$presentation-heading-color: black;

// headings
$presentation-heading-font: "Merriweather" !default;
$presentation-heading-size: 20 !default;
$presentation-heading-text-transform: none;
.slide {
  text-transform:none;
}
.title {
  color: black !important;
}

.reveal .footer {
  font-size: medium !important;
  //text-align: right !important;
}